nav {
    background: #fff1e5;
}

.template:empty {
    display: none;
}

.hide-empty:not(:has(
    .template:not(:empty))
) {
    display: none;
}

.comma:has( /*   t r u s t   */
    ~ .comma:not(.hide-empty),
    ~ .comma.hide-empty .template:not(:empty)
)::after {
    content: ", ";
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 35%;
    padding: 6px 10px;
    border-radius: 3px;
    border: 1px solid #151729;
    margin: 5px 0;
}

.user > * {
    margin: 0 6px;
}