.hidden {
    display: none;
}

body {
    background: #e4e6f2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#error-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #f44336;
    border-radius: 15px;
    color: #f2dede;
    padding: 5px 10px;
    max-width: 70%;
    box-shadow: 0 0 10px #171419;
}

ul.errorlist:not(:has(li)) {
    display: none;
}

ul.errorlist li {
    color: #f44336;
}