.hidden {
    display: none;
}

body {
    background: #e4e6f2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#error-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #f44336;
    border-radius: 15px;
    color: #f2dede;
    padding: 5px 10px;
    max-width: 70%;
    box-shadow: 0 0 10px #171419;
}

#info-box {
    position: fixed;
    left: 15px;
    bottom: 15px;
    max-width: 25%;
}

#info-box .info-message {
    margin-top: 8px;
    padding: 4px 7px;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    background: var(--bg-color, #f4e3e6);
    border-color: var(--border-color, #151719);
    box-shadow: 2px 3px 4px -2px #151729;
    width: fit-content;
    font-size: 85%;
    transition: transform 50ms ease, box-shadow 50ms ease;
}

#info-box .info-message:hover {
    transform: translateY(1px);
    box-shadow: none;
    cursor: pointer;
}

#info-box .info-message.info {
    --bg-color: #95aec1;
    --border-color: #206fe4;
}

#info-box .info-message.error {
    --bg-color: #d6969e;
    --border-color: #df3131;
}

#info-box .info-message.success {
    --bg-color: #9cc886;
    --border-color: #217a27;
}

ul.errorlist:not(:has(li)) {
    display: none;
}

ul.errorlist li {
    color: #f44336;
}

ul.errorlist li:first-letter {
    text-transform: uppercase;
}