{% extends 'users/auth_base.html' %}

{% load static %}

{% block head %}
    {{ block.super }}
    <script type="module" src="{% static 'js/users/profile.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/users/profile.css' %}">
{% endblock %}

{% block title %}Profile — Sodia{% endblock %}

{% block content %}
    <div class="template-container" id="profile">
        <h1 class="hidden">
            <span class="template" id="profile-display-name"></span>
            <span class="hide-empty">(<span class="template" id="profile-full-name"></span>)</span>
        </h1>
        <div class="hide-empty">@<span class="template" id="profile-username"></span></div>
        <div id="friends" class="hide-empty">
            <button type="button" class="template link-button" id="profile-friends-count" disabled></button>
            <div class="context-menu-wrapper">
                <div id="friends-list" class="context-menu" hidden>Loading...</div>
            </div>
        </div>
        <div>
            <span class="hide-empty comma">gender: <span class="template" id="profile-gender"></span></span>
            <span class="hide-empty comma">birthday: <span class="template" id="profile-birth-date"></span></span>
            <span class="hide-empty comma">streak: <span class="template" id="profile-challenge-streak"></span></span>
            <span class="hide-empty comma"><span class="template" id="profile-year-group"></span></span>
            <span class="comma hide-empty">
                <span class="hide-empty"><span class="template" id="profile-house"></span></span><span
                    class="hide-empty"> (<span class="template" id="profile-boarding-type"></span>)</span></span>
            <span class="hide-empty comma"><span class="template" id="profile-country"></span></span>
        </div>
        <div id="profile-buttons"></div>
        <hr>
        <div class="hide-empty"><p class="template" id="profile-description"></p></div>
    </div>
{% endblock %}