{% extends 'base.html' %}

{% load static %}

{% block title %}Sodia!{% endblock %}

{% block head %}
    {{ block.super }}
    <script type="module" src="{% static 'js/users/unauthorised.js' %}"></script>
{% endblock %}

{% block body %}
    {{ block.super }}
    <main>
        <h1>Sodia</h1>
        <form id="login" action="{% url 'api:login' %}" method="post">
            <h2>Sign in:</h2>
            {{ login_form }}
            <input type="submit" value="Sign in">
        </form>
        <form id="registration" action="{% url 'api:register' %}" method="post">
            <h2>Sign up:</h2>
            {{ registration_form }}
            <input type="submit" value="Sign up">
        </form>
    </main>
{% endblock %}