{% extends 'base.html' %}

{% load static %}

{% block title %}Messaging — Sodia{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/users/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'css/users/auth_base.css' %}">
    <link rel="stylesheet" href="{% static 'css/messaging/message.css' %}">
    <script type="module" src="{% static 'js/users/auth_base.js' %}"></script>
    <script type="module" src="{% static 'js/messaging/message.js' %}"></script>
{% endblock %}

{% block body %}
    {% include 'users/navigation.html' %}
    <main>
        <section id="dialogue-list-container">
            <div id="empty-dialogue-list">Dialogues will be displayed here.<br>
                To create a dialogue, open a user's profile and press "Message"
            </div>
            <div id="dialogue-list"></div>
        </section>
        <section id="active-dialogue">
            <div id="no-selected-dialogue">Please select a dialogue to chat...</div>
            <div id="dialogue-title-container"><a id="dialogue-title"></a></div>
            <section id="messages-area">
                <div id="message-sentinel"></div>
            </section>
            <div id="message-input-area">
                <form id="message-input-form" action="/api/messaging/send-message/" method="post">
                    <div id="message-input-container">
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <textarea rows="1" name="content" id="message-input-field" maxlength="4096" required
                                  placeholder="Type your message here..."></textarea>
                    </div>
                    <input type="submit" value="Send" id="send-message-btn">
                </form>
            </div>
        </section>
    </main>
    {{ block.super }}
{% endblock %}