{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}Sodia{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        {% csrf_token %}
        <script type="module" src="{% static 'js/api/api.js' %}"></script>
    {% endblock %}
</head>
<body>
{% block body %}
    <div id="error-box" class="hidden"></div>
    <div id="info-box">
        <div class="info-message info">This is a message</div>
        <div class="info-message info">This is another message</div>
        <div class="info-message error">This is an error</div>
        <div class="info-message warning">This is a warning</div>
        <div class="info-message success">This is a success message</div>
        <div class="info-message error">This is a really really really long error message that has to have a line break in
            it. In fact, it is even longer
        </div>
    </div>
{% endblock %}
</body>
</html>